body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/* navigation section starts here */
.nav{
    display: flex;
    justify-content: space-between;
    /* gap:10px; */
    width: 100%;
    margin: auto ;
    height: 216px;
    border-bottom: .1px solid rgba(128, 128, 128, 0.233);

}
.nav-one{
    background: url("images/leftnavpics.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}
.nav_one_text{
    position: relative;
    left: 30px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2em;
    padding-top: 23px;
    gap: 27px;
}
.navlinkleft{
    color: grey;
    cursor: pointer;
}
.navlinkleft:hover{
    color: #cb7c6f;
    transition: cubic-bezier(.77,0,.175,1);
}

.nav-two{
    display: flex;
    flex-direction: column;
    margin: 12px 0 0 0;
    height: 145px;
    width: 335px;
}
.nav-two-text{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 35px;
    margin-top: 20px;
    color: grey;
    font-family: "Cormorant Garamond", serif;
    font-size: 14px;
    letter-spacing: .04em;
    line-height: 1.25;
}

.nav-three{
    background: url("images/rightnavpics.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 215px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
}
.nav-icons{
    display: flex;
    gap: 20px;
    position: relative;
    top: 20px;
    right: 90px;
    letter-spacing: .2em;
    /* padding-top: 20px; */
}

.dis-flex{
    display: flex;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s;
}
/* navigation section ends here*/


/* footer starts here*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 1px;
    background-color: rgba(128, 128, 128, 0.233);
}

.footer-grid{
    background-color:#fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.footer-grid h1{
    font-weight: lighter;
    margin: 0;
    font-size: 26px;
    color:rgba(216, 112, 147, 0.829) ;
}

.footer-grid p{
    color: grey;
    margin: 0;
    font-size: 18px;
}
.footer-gridB{
    background-color:#fefefe;
    display: flex;
    gap: 20px;
    padding: 30px 30px;

}
.footer-gridD{
    background-color: #fefefe;
    display: flex;
    gap: 40px;
    padding: 30px;
}
ul li{
    color: grey;
    list-style-type: none;
    text-decoration: none;
}
.tall{
    grid-row: span 2;
}


/* footer ends here */



.post-footer{
    height: 80px;
    background-color: rgba(255, 182, 193, 0.356);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

/* dropdown stying starts here*/
.drop {
    position: relative;
    display: inline-block;
}

.drop-button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.drop-dropdown {
    display: none;
    position: absolute;
    /* right: -125px; */
    left: -850px;
    background-color: white;
    height: 400px;
    width: 1100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 15px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.drop-image{
    height: 350px;
    background-image: url("images/65ea22a753e65.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
}
.drop-text{
    display: flex;
    flex-direction: column;
}
.drop-textA{
    display: flex;
    gap: 20px;
}
.drop-textA h4{
    margin: 0;
    font-weight: 100;
    font-size: 28px;
    color: grey;
}
.drop-textA p{
    padding-top: 15px;
    margin: 0;
    font-size: 12px;
    color:rgba(216, 112, 147, 0.829) ;
}
.drop-textB{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.drop-textB-grid{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.drop-textB-grid p{
    padding-top: 10px;
    margin: 0;
    font-size: 18px;
    color: grey;
}


/* footer starts here*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 1px;
    background-color: rgba(128, 128, 128, 0.233);
}

.footer-grid{
    background-color:#fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.footer-grid h1{
    font-weight: lighter;
    margin: 0;
    font-size: 26px;
    color:rgba(216, 112, 147, 0.623) ;
}

.footer-grid p{
    margin: 0;
    font-size: 18px;
}
.footer-gridB{
    background-color:#fefefe;
    display: flex;
    gap: 20px;
    padding: 30px 30px;

}
.footer-gridD{
    background-color: #fefefe;
    display: flex;
    gap: 40px;
    padding: 30px;
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
.tall{
    grid-row: span 2;
}


/* footer ends here */



.post-footer{
    height: 80px;
    background-color: rgba(255, 182, 193, 0.356);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}