body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.part-one{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 35px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb_links{
    text-decoration: none;
    color: gray;
}
.breadcrumb_links:hover{
    color: #dfafa7;
}
.part-one p{
    color: grey;
    font-family: 'Lora', serif;
    font-size: 12px;
    /* margin: 0; */
}
.parent{
    display: flex;
    flex-direction: column;
    padding: 35px 160px;
    
}
.banner{
    display: flex;
    /* gap: 10px; */
}
.items{
    width: 230px;
    padding: 0px 0px 10px 0px;
    /* background-color: red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  */
}
.right{
    width: 100%;
    padding: 0px 20px 0px 40px;
    /* background-color: aqua; */
}
.items ul li{
    list-style: none;
    padding-left: 20px;
    font-size: 15px;
    letter-spacing: .09em;
    
}
.items li{
    border-bottom: .5px solid #DDD;
    padding: 20px 30px 20px 0px;
    cursor: pointer;
    background-color: hsla(20, 72%, 90%, .25);
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #000;
}
.items li:hover{
    color: rgba(240, 128, 128, 0.596);
    transition: .1s all;
}

.of13{
    font-size: 12px !important; 
    padding-left: 40px !important; 
}

/* right section one starts here*/
.right-one{
    height: 300px;
    background-image: url(./images/shop\ first\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* right section one ends here*/

/* right section two starts here*/
.right-two{
    align-items: center;
    display: flex;
    gap: 205px;
    height: 100px;
}
.right-twoA{
    display: flex;
    gap: 15px;
}
.right-twoA h4{
    margin: 0;
    font-size: 35px;
    font-weight: lighter;
    color: grey;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    letter-spacing: .09em;

}
.p1{
    font-size: 15px;
    margin: 0;
    color: rgba(240, 128, 128, 0.596);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: .09em;
}
.p2{
    font-size: 15px;
    margin: 0;
    color: rgba(240, 128, 128, 0.596);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: .09em;

}
.btn-one{
    align-items: center;
    display: flex;
    gap: 60px;
    width: 204px;
    background-color: white;
    border: .5px solid gray;
    color: grey;
    font-family: 'Lora', serif;
    font-size: 15px;

}

/* right section two ends here*/



/* right section three starts here*/
.right-three{
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.right-three-grid{
    height: 550px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.right-three-text{
    width: 100%;
}
.right-three-text p{
    font-family: 'Lora', serif;
    color: #121313;
    font-size: 17px;
    margin: 0;
}

.btn-buy{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.btn-details{
    background-color: whitesmoke;
    color: black;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.product-buttons {
    display: none;
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-buttons {
    display: flex;
    gap: 1em;
}

.product-buttons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}